<div class="product-container">
  <h2 class="title">{{this.name}}</h2>
  <p class="launch">{{this.launch_year}}</p>
  <p class="company">{{this.company}}</p>
  <a class="details" href='/{{this.id}}'>Ver detalhes</a>
</div>