<div class="product-container details">
  <h2 class="title">{{product.name}}</h2>
  <p class="launch">{{product.launch_year}}</p>
  <p class="company">{{product.company}}</p>
  <a class="details" href='/'>Voltar</a>
</div>